html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 6rem;
  height: auto;
}

.game-container {
  min-width: 360px;
  max-width: 900px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 6px;
  margin: 0 auto;
}

.game-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.game-sub-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.game-options,
.game-result {
  justify-content: center;
}

.player,
.computer {
  flex-direction: column;
}

.game-choices__button {
  border: none;
  padding: 0;
  border-radius: 36px;
  background-color: #fff;

  img {
    border-radius: 36px;
  }
}
.game-choices__button:hover {
  cursor: pointer;
}
.game-choices__button:active {
  background-color: #efefef;
}

.player__name {
  font-weight: bold;
  color: rgb(61, 141, 231);
}

.computer__name {
  font-weight: bold;
  color: rgb(231, 80, 80);
}

.game-info__selected-rounds,
.player__choice,
.computer__choice,
.game-result__score-player,
.game-result__score-computer,
.game-result__final {
  border-radius: 4px;
  background-color: rgb(231, 80, 80);
  text-transform: uppercase;
  color: white;
  padding: 2px 6px;
}

.player__choice,
.game-result__score-player {
  background-color: rgb(61, 141, 231);
}

.game-result__final,
.game-info__selected-rounds {
  background-color: #43be86;
}

@media screen and (max-width: 715px) {
  main {
    min-height: 670px;
  }
  .game-state {
    flex-direction: column;

    .game-choices {
      justify-content: center;
    }
  }
}

.is-hidden {
  display: none;
}

.is-disabled {
  opacity: 30%;
  /* cursor: not-allowed; */
  pointer-events: none;
}
