html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

section, article, nav, aside, header, footer, main {
  display: block;
}

body {
  margin: 0;
} 